@using HotelSite.Attributes
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/component.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/modernizr.custom.25376.js"></script>
</head>
<body>
    <div class="main_container">
        <div id="perspective" class="perspective effect-rotatetop">
            <div class="container">
                <div class="wrapper">
                    <div class="main clearfix">
                        <div class="column">
                            <p><button id="showMenu">@HotelSite.Resources.Home.Menu</button></p>

                        </div>
                        <div class="column">
                            <nav class="codrops-demos ">
                                @Html.Partial("_LoginPartial")
                                @Html.LanguageSelectorLink("en", "English", "English", null)
                                @Html.LanguageSelectorLink("hy", "Հայերեն", "Հայերեն", null)
                            </nav>
                        </div>
                        <div class="column" style="width:100%;text-align:center;color:white;">

                            @RenderBody()
                        </div>
                    </div><!-- /main -->
                </div><!-- wrapper -->
            </div><!-- /container -->
            <nav class="outer-nav bottom horizontal">
                @Html.ActionLink(HotelSite.Resources.Home.HomeName, "Index", "Home", null, new { @class = "anchor_tag" })
                @Html.ActionLink(HotelSite.Resources.Home.About, "About", "Home", null, new { @class = "anchor_tag" })
                @Html.ActionLink(HotelSite.Resources.Home.Contact, "Contact", "Home", null, new { @class = "anchor_tag" })
                @Html.ActionLink(HotelSite.Resources.Home.Rooms, "Index", "Rooms", null, new { @class = "anchor_tag" })
                @Html.ActionLink(HotelSite.Resources.Home.OrderRooms, "Index", "OrderRooms", null, new { @class = "anchor_tag" })
            </nav>
        </div> <!-- /perspective -->



    </div>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/menu.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Script.js"></script>


</body>
</html>
